body {background-color: DarkSlateGray; color: White; font-family: sans-serif;}
a {text-decoration: none; color: LightSteelBlue;}
a:hover {text-decoration: underline; color: SteelBlue;}
div {min-width: 420px; max-width: 600px; border: ridge; padding: 10px; background-color: SlateGray;}
td {padding: 4px; text-align: left;}
th {padding: 4px; text-align: right;}
input[type=range] {vertical-align: middle;}
input[type=file]::-webkit-file-upload-button {padding:10px 15px; -webkit-border-radius: 5px;}
.button {padding:10px 15px; background:#ccc; -webkit-border-radius: 5px;}
meter {width: 400px; vertical-align: middle;}
meter::after {content: attr(value); position:relative; top:-17px; color: Black;}
meter::-webkit-meter-bar {background: none; background-color: LightBlue
box-shadow: 5px 5px 5px SlateGray inset; border: 1px solid; }
.switch {position: relative; display: inline-block; width: 60px; height: 34px;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ''; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: DarkSlateGray;}
input:focus + .slider {box-shadow: 0 0 1px SlateGray;}
input:checked + .slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.ds_hide { display: none;}
.ds_show { display: block;}
